<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Plavel - 회원탈퇴</h1>
    <h3>정말로 탈퇴하시겠습니까?</h3>
    <form action="/auth/out/{{user.user_id}}" method="post">
        <input type="text" value="{{user.user_id}}" name="user_id" hidden/>
        <button type="submit">탈퇴하기</button>
        <br><br><a href="/home/{{user.user_id}}">취소 (홈으로)</a>
    </form>
</body>
</html>